---
import ProjectCard from "./ProjectCard.astro";

import { PROJECTS } from '../../data.js';
import prettier from "prettier";
---

<div class="gap-10 xl:grid xl:grid-cols-2">
  {PROJECTS.map(project =>
  <!-- prettier-ignore -->
  <ProjectCard item={project} />
  )}
</div>
