---
import Badge from "../core/Badge.astro";
import TextMuted from "../core/TextMuted.astro";

const { item } = Astro.props;
---

<div>
  <a
    class="duration-400 block rounded-lg border px-3 py-2 transition hover:scale-105 hover:shadow-xl"
    href={item.href}
    target="_blank"
  >
    <p class="font-medium text-lg">{item.title}</p>
    <TextMuted>{item.description.long}</TextMuted>
    <p class="my-2 text-center">{item.stack.map(s => <Badge>{s}</Badge>)}</p>
  </a>
</div>
