---
const { item } = Astro.props;
---

<a class="block rounded-xl border border-neutral p-5 md:hover:bg-neutral md:hover:text-white" href={item.href}>
  <p class="mt-2 text-lg font-medium">{item.title}</p>
  <p class="mt-2">{item.description.long}</p>
  <p class="mt-2 text-center">{item.stack.map(s => <span class="badge badge-outline badge-xs m-1 p-2">{s}</span>)}</p>
</a>
