---
import Badge from "../core/Badge.astro";
import TextMuted from "../core/TextMuted.astro";

const { item } = Astro.props;
---

<div>
  <a
    class="md:duration-400 block rounded-xl border border-gray-200 p-5 dark:border-none dark:bg-gray-1000 md:transition md:hover:scale-105 md:hover:shadow-xl"
    href="{item.href}"
  >
    <p class="text-lg font-medium">{item.title}</p>
    <TextMuted>{item.description.long}</TextMuted>
    <p class="my-2 text-center">{item.stack.map(s => <Badge>{s}</Badge>)}</p>
  </a>
</div>
