---
import Badge from "../core/Badge.astro";
import TextMuted from "../core/TextMuted.astro";

const { item } = Astro.props;
---

<div>
  <a
    class="md:duration-400 block rounded-lg border border-stone-800/10 px-3 py-2 dark:border-stone-50/[0.06] dark:bg-gray-1000 md:transition md:hover:scale-105 md:hover:shadow-xl"
    href={item.href}
  >
    <p class="text-lg font-semibold">{item.title}</p>
    <TextMuted>{item.description.long}</TextMuted>
    <p class="my-2 text-center">{item.stack.map(s => <Badge>{s}</Badge>)}</p>
  </a>
</div>
