---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostList from '../../components/blog/PostList.astro';

const title = 'Блог | Семён Сыроватский';
---

<BaseLayout {title}>
  <div class="text-center">
    <p class="text-9xl">Пост<span class="text-orange-900 underline">ы</span></p>
  </div>
  <PostList />
</BaseLayout>
