---
import BaseLayout from '../../layouts/BaseLayout.astro';
import H1 from '../../components/core/H1.astro';
import PostList from '../../components/blog/PostList.astro';

const title = 'Блог | Семён Сыроватский';
---

<BaseLayout {title}>
  <!-- prettier-ignore -->
  <H1>Посты</H1>
  <PostList />
</BaseLayout>
