._nav-item {
	border-left: 2px solid white;
	padding: 0.3rem 0.6rem;
}

._nav-link {
	color: #6c757d;
	text-decoration: none;
}

._nav-link:hover {
	color: black;
	text-decoration: none;
}

.active {
	border-left: 2px solid black;
	font-weight: bold;
}

.active a {
	color: black;
}

.fab {
	color: #6c757d; 
}

.fab:hover {
	color: black;
}