---
import SectionHeader from "@components/SectionHeader";
import ContactLink from "@components/ContactLink";
import { getLangFromUrl, useTranslations } from "@i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
  <SectionHeader text={t("section.contacts.header")} />
  <ul>
    <ContactLink
      header="Github"
      href="https://github.com/jonathanblade"
      text="https://github.com/jonathanblade"
    />
    <ContactLink header="Telegram" href="https://t.me/jonathanblade" text="@jonathanblade" />
    <ContactLink header="Email" href="mailto:mail@syrovatskiy.tk" text="mail@syrovatskiy.tk" />
  </ul>
</section>
