---
import SectionHeader from "@components/SectionHeader";
import { getLangFromUrl, useTranslations } from "@i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
  <SectionHeader text={t("section.greetings.header")} />
  <p class="text-justify">{t("section.greetings.text")}</p>
</section>
