---
import SectionHeader from "@components/SectionHeader";
import EducationItem from "@components/EducationItem";
import WorkItem from "@components/WorkItem";
import { getLangFromUrl, useTranslations } from "@i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
  <SectionHeader text={t("section.timeline.header")} />
  <ul>
    <WorkItem
      start={2021}
      company={t("company.qapl")}
      country={t("country.russia")}
      city={t("city.moscow")}
      position={t("work.position.developer")}
    />
    <EducationItem
      start={2020}
      end={2023}
      university={t("university.msu")}
      department={t("university.department.physics")}
      degree={t("university.degree.phd")}
      qualification={{
        i18: t("university.qualification"),
        code: "05.06.01",
        name: t("university.qualification.earth"),
      }}
      specialization={{
        i18: t("university.specialization"),
        name: t("university.msu.phd.specialization"),
      }}
    />
    <EducationItem
      start={2018}
      end={2020}
      university={t("university.msu")}
      department={t("university.department.physics")}
      degree={t("university.degree.master")}
      qualification={{
        i18: t("university.qualification"),
        code: "03.04.02",
        name: t("university.qualification.physics"),
      }}
      specialization={{
        i18: t("university.specialization"),
        name: t("university.msu.master.specialization"),
      }}
      diploma={{
        i18: t("university.diploma"),
        title: t("university.msu.master.diploma.title"),
        href: "https://github.com/jonathanblade/master-diploma",
      }}
    />
    <WorkItem
      start={2017}
      end={2020}
      company={t("university.istp")}
      country={t("country.russia")}
      city={t("city.irkutsk")}
      position={t("work.position.programmer.engineer")}
    />
    <EducationItem
      start={2014}
      end={2018}
      university={t("university.isu")}
      department={t("university.department.physics")}
      degree={t("university.degree.bachelor")}
      qualification={{
        i18: t("university.qualification"),
        code: "03.03.03",
        name: t("university.qualification.radiophysics"),
      }}
      specialization={{
        i18: t("university.specialization"),
        name: t("university.isu.bachelor.specialization"),
      }}
    />
  </ul>
</section>
