---
import BaseLayout from '../layouts/BaseLayout.astro';
import H1 from '../components/core/H1.astro';
import Timeline from '../components/about/Timeline.astro';

let title = 'Обо мне | Семён Сыроватский';
---

<BaseLayout {title}>
  <!-- prettier-ignore -->
  <H1>Таймлайн</H1>
  <Timeline />
</BaseLayout>
