---
import BaseLayout from "../layouts/BaseLayout.astro";
import cv from "../assets/hh.pdf";

const title = 'Семён Сыроватский';
---

<BaseLayout {title}>
  <p class="text-9xl">Сем<span class="text-index underline">ё</span>н</p>
  <p class="text-8xl">Владиславович</p>
  <p class="text-7xl">Сыроватский</p>
  <p class="my-10 text-center">Backend-разработчик. Аспирант физического факультета МГУ.</p>
  <div class="flex justify-end">
    <!-- prettier-ignore -->
    <a href={cv} class="duration-400 rounded-full bg-index py-2 px-6 text-white shadow-xl transition hover:scale-110"
      >Резюме</a
    >
  </div>
</BaseLayout>
