---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = 'Семён Сыроватский';
---

<BaseLayout {title}>
  <div>
    <p class="text-justify">
      👋 Меня зовут <span class="font-medium text-accent">Сыроватский Семён</span>. В сети меня можно найти под
      никнеймом <span class="font-medium text-accent">@jonathanblade</span>. В настоящее время я занимаюсь
      аутсорсинговой работой на должности backend-разработчика в компании ООО «Платформа Качества». Это мой персональный
      сетевой уголок. Здесь я публикую некоторые интересные фрагменты из своей личной жизни и профессиональной
      деятельности.
    </p>
  </div>
</BaseLayout>
