---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectsGrid from '../components/projects/ProjectsGrid.astro';

let title = 'Проекты | Семён Сыроватский';
---

<BaseLayout {title}>
  <div class="text-center">
    <p class="text-9xl">Воркш<span class="text-sky-900 underline">о</span>п</p>
  </div>
  <ProjectsGrid />
</BaseLayout>
