---
import BaseLayout from '../layouts/BaseLayout.astro';
import H1 from '../components/core/H1.astro';
import ProjectGrid from '../components/projects/ProjectsGrid.astro';

let title = 'Проекты | Семён Сыроватский';
---

<BaseLayout {title}>
  <!-- prettier-ignore -->
  <H1>Воркшоп</H1>
  <ProjectGrid />
</BaseLayout>
