<footer class="flex items-center justify-center border-t border-gray-200 dark:border-gray-700">
  <ul class="flex text-sm">
    <li>
      <a
        class="block p-5 uppercase xl:hover:bg-gray-800 xl:hover:text-white dark:xl:hover:bg-white dark:xl:hover:text-gray-800"
        href="https://github.com/jonathanblade"
        >Github</a
      >
    </li>
    <li>
      <a
        class="block p-5 uppercase xl:hover:bg-gray-800 xl:hover:text-white dark:xl:hover:bg-white dark:xl:hover:text-gray-800"
        href="https://t.me/jonathanblade"
        >Telegram</a
      >
    </li>
    <li>
      <a
        class="block p-5 uppercase xl:hover:bg-gray-800 xl:hover:text-white dark:xl:hover:bg-white dark:xl:hover:text-gray-800"
        href="mailto:mail@syrovatskiy.tk"
        >Email</a
      >
    </li>
  </ul>
</footer>
