---
import Link from "./core/Link.astro";
---

<footer class="flex justify-center border-t border-stone-800/10 p-5 dark:border-stone-50/[0.06]">
  <ul class="flex text-sm">
    <li class="mx-4">
      <!-- prettier-ignore -->
      <Link href="https://github.com/jonathanblade" text="Github" />
    </li>
    <li class="mx-4">
      <!-- prettier-ignore -->
      <Link href="https://t.me/jonathanblade" text="Telegram" />
    </li>
    <li class="mx-4">
      <!-- prettier-ignore -->
      <Link href="mailto:mail@syrovatskiy.tk" text="Email" />
    </li>
  </ul>
</footer>
