---
import Moon from "./icons/Moon.astro";
import NavOpen from "./icons/NavOpen.astro";
import NavClose from "./icons/NavClose.astro";
import Sun from "./icons/Sun.astro";

const items = [
  {'href': '/', 'text': 'Главная'},
  {'href': '/about/', 'text': 'Обо мне'},
  {'href': '/blog/', 'text': 'Блог'},
  {'href': '/projects/', 'text': 'Проекты'},
];

const setGiscusTheme = async () => {
  await new Promise((resolve, reject) => setTimeout(resolve, 100));

  const isDarkTheme = localStorage.getItem('theme') === 'night';
  const dataTheme = isDarkTheme ? 'https://jonathanblade.github.io/giscus-dark.css' : 'https://jonathanblade.github.io/giscus.css';

  const script = document.createElement('script');
  script.src = 'https://giscus.app/client.js';
  script.setAttribute('data-repo', 'jonathanblade/webpage');
  script.setAttribute('data-repo-id', 'MDEwOlJlcG9zaXRvcnkzNTIxODY2Mjg=');
  script.setAttribute('data-category', 'General');
  script.setAttribute('data-category-id', 'DIC_kwDOFP3xBM4CPnto');
  script.setAttribute('data-mapping', 'pathname');
  script.setAttribute('data-reactions-enabled', '0');
  script.setAttribute('data-emit-metadata', '0');
  script.setAttribute('data-input-position', 'bottom');
  script.setAttribute('data-theme', dataTheme);
  script.setAttribute('data-lang', 'ru');
  script.setAttribute('crossorigin', 'anonymous');
  script.async = true;

  const giscus = document.getElementById('giscus');
  if (giscus) giscus.appendChild(script);
};
---

<header class="sticky top-0 z-50">
  <nav
    class="flex items-center justify-center text-center bg-base-100 shadow-xl"
    x-data="{navOpen: false}"
  >
  <ul class="md:flex">
      {items.map(item =>
      <li
        class={Astro.canonicalURL.pathname.slice(0, 2) === item.href.slice(0, 2) ? "active md:block" : "md:block"}
        x-bind:class="navOpen ? 'navOpen' : 'hidden'">
        <a
          class="block p-5 font-medium uppercase md:hover:text-accent"
          href={item.href}
          >{item.text}</a
        >
      </li>
      )}
    </ul>
    <button x-init={setGiscusTheme} x-on:click={setGiscusTheme} data-toggle-theme="night" data-act-class="swap-active" class="absolute top-0 left-0 p-5 swap swap-rotate md:hover:text-accent" aria-label="theme">
      <Moon />
      <Sun />
    </button>
    <button x-on:click="navOpen = !navOpen" class="absolute top-0 right-0 p-5 md:hidden" aria-label="nav">
      <NavOpen />
      <NavClose />
    </button>
  </nav>
</header>

<style lang="scss">
  ul {
    li.active {
      display: block;
    }
    &.open {
      li {
        display: block !important;
      }
    }
  }
</style>
