---
import Layout from "@layouts/Base.astro";
import SectionHeader from "@components/SectionHeader";
import ContactLink from "@components/ContactLink";
import Timeline from "@components/Timeline.astro";
import { getLangFromUrl, useTranslations } from "@i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <section>
    <SectionHeader text={t("hello.world")} />
    <p class="text-justify">{t("greetings")}</p>
  </section>
  <section>
    <SectionHeader text={t("timeline")} />
    <Timeline />
  </section>
  <section>
    <SectionHeader text={t("contacts")} />
    <ul>
      <ContactLink
        header="Github"
        href="https://github.com/jonathanblade"
        text="https://github.com/jonathanblade"
      />
      <ContactLink header="Telegram" href="https://t.me/jonathanblade" text="@jonathanblade" />
      <ContactLink header="Email" href="mailto:mail@syrovatskiy.tk" text="mail@syrovatskiy.tk" />
    </ul>
  </section>
</Layout>
