{% extends 'base.html' %}

{% block title %}Образование | Семён Сыроватский{% endblock %}

{% block content %}
<div class='col-12 col-xl-3 col-md-5 mt-4'>{% include 'nav.html' %}</div>
<div class='col-12 col-xl-4 col-md-6 mt-4'>
    <h3>Бакалавриат</h3><hr>
    <div class='mb-4'>
        Иркутский государственный университет, физический факультет, 2014-2018<br>
        <small>
            <strong>Специальность</strong><br>
            <span class='text-muted'>03.03.03 Радиофизика</span><br>
            <strong>Направление</strong><br>
            <span class='text-muted'>Телекоммуникационные системы и информационные технологии</span><br>
            <strong>Дипломная работа</strong><br>
            <a href='http://eportfolio.isu.ru/sites/default/files/userdata/4118/7/7_work_4118_6.pdf' target='_blank'>Влияние солнечных вспышек на ионосферу Земли в 24-ом цикле солнечной активности</a>
        </small>
    </div>
    <h3>Магистратура</h3><hr>
    <div class='mb-4'>
        Московский государственный университет имени М.В. Ломоносова, физический факультет, 2018-2020<br>
        <small>
            <strong>Специальность</strong><br>
            <span class='text-muted'>03.04.02 Физика</span><br>
            <strong>Направление</strong><br>
            <span class='text-muted'>Физика атмосферы и околоземного космического пространства</span><br>
            <strong>Дипломная работа</strong><br>
            <a href='https://github.com/jonathanblade/master-diploma' target='_blank'>Оценка точности позиционирования GPS при естественных и искусственных возмущениях ионосферы</a>
        </small>
    </div>
    <h3>Аспирантура</h3><hr>
    <div class='mb-4'>
        Московский государственный университет имени М.В. Ломоносова, физический факультет, 2020-2023<br>
        <small>
            <strong>Специальность</strong><br>
            <span class='text-muted'>05.06.01 Науки о Земле</span><br>
            <strong>Направление</strong><br>
            <span class='text-muted'>Физика атмосферы и гидросферы</span>
        </small>
    </div>
</div>
{% endblock content %}