---
import TextMuted from "../core/TextMuted.astro";

const { item } = Astro.props;
---

<li>
  <!-- prettier-ignore -->
  <a
    class="md:duration-400 my-10 block rounded-lg border border-stone-800/10 px-3 py-2 dark:border-stone-50/[0.06] dark:bg-gray-1000 md:transition md:hover:scale-105 md:hover:shadow-xl"
    href={item.url}
  >
    <p class="text-sm">{item.frontmatter.date}</p>
    <p class="text-lg font-semibold text-yellow-300 dark:text-yellow-200">{item.frontmatter.title}</p>
    <TextMuted>{item.frontmatter.description}</TextMuted>
  </a>
</li>
