---
const { item } = Astro.props;
---

<li>
  <a class="block rounded-xl border border-neutral p-5 md:hover:bg-neutral md:hover:text-white" href={item.url}>
    <p class="text-sm">{item.frontmatter.date}</p>
    <p class="text-lg font-medium">{item.frontmatter.title}</p>
    <p>{item.frontmatter.description}</p>
  </a>
</li>
