---
import FAQItem1 from "./FAQItem1.astro";
import FAQItem2 from "./FAQItem2.astro";
---

<div
  class="rounded-xl border border-gray-200 p-5 dark:border-none dark:border-gray-700 dark:bg-gray-1000 dark:shadow-xl"
>
  <div
    data-accordion="collapse"
    data-active-classes="text-purple-600 dark:text-purple-300"
    data-inactive-classes="text-gray-800 dark:text-white"
  >
    <FAQItem1 headId="head-2" bodyId="body-2" target="#body-2" title="Кто я такой?">
      Меня зовут Сыроватский Семён Владиславович. В сети меня можно найти под никнеймом
      <span class="font-medium text-gray-800 dark:text-white">@jonathanblade</span>. В настоящее время я занимаюсь
      аутсоринговой работой на должности backedn-разработчика в компании ООО Платформа качества.
    </FAQItem1>
    <FAQItem2 headId="head-1" bodyId="body-1" target="#body-1" title="Что это за место?">
      Это мой персональный сетевой уголок. Здесь я публикую некоторые интересные фрагменты из моей личной жизни и
      профессиональной деятиельности.
    </FAQItem2>
  </div>
</div>
