---
import FAQIcon from "./FAQIcon.astro";
import TextMuted from "../core/TextMuted.astro";

const { headId, bodyId, target, title } = Astro.props;
---

<div>
  <h2 id={headId}>
    <button
      type="button"
      class="flex w-full justify-between border-b border-gray-200 py-5 font-medium hover:text-purple-600 dark:border-gray-700 dark:bg-gray-1000 dark:hover:text-purple-300"
      data-accordion-target={target}
      aria-expanded="true"
    >
      <span>{title}</span>
      <FAQIcon />
    </button>
  </h2>
  <div id={bodyId}>
    <div class="border-b border-gray-200 py-5 dark:border-gray-700">
      <TextMuted>
        <slot />
      </TextMuted>
    </div>
  </div>
</div>
