---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<html
  x-data="{'darkMode': localStorage.getItem('darkMode') === 'true'}"
  x-init="$watch('darkMode', value => localStorage.setItem('darkMode', value))"
  x-bind:class="{'dark': darkMode}"
>
  <head>
    <BaseHead {title} />
  </head>
  <body class="flex min-h-screen flex-col bg-white text-darknest dark:bg-stone-800 dark:text-white">
    <!-- prettier-ignore -->
    <Header />
    <main class="mx-5 my-10 flex-grow">
      <div class="md:grid md:grid-cols-6 lg:grid-cols-5 xl:grid-cols-4">
        <div class="col-start-2 md:col-end-6 lg:col-end-5 xl:col-end-4">
          <slot />
        </div>
      </div>
    </main>
    <!-- prettier-ignore -->
    <Footer />
  </body>
</html>
